# MINI PROJEK [A]

## Fungsi "Pos_Neg_Nol"

In [8]:
#Menentukan suatu bilangan yang diinput tersebut positif,negatif,atau nol
i = int(input('Masukkan bilangan i='))
if i > 0:
    print('Bilangan Positif')
elif i < 0:
    print('Bilangan Negatif')
else:
    print('Bilangan nol')

Masukkan bilangan i=-4
Bilangan Negatif

## Fungsi "Mahal_Diskon"

In [16]:
#Mentukan Mahal Diskon
jumlah = int(input('Masukkan jumlah barang = '))
harga = int(input('Masukkan harga barang = '))
total = (jumlah * harga)
print('Jumlah Total = ', total)

if total >= 200000:
  diskon = total * (40/100)
  print('Kamu dapat diskon 40%')
elif total >= 90000:
  diskon = total * (20/100)
  print('Kamu dapat diskon 20%')
elif total > 40000:
  diskon = total * (10/100)
  print('Kamu dapat diskon 10%')
else:
  diskon = total * (10/100)
  print('Maaf kamu belum dapat diskon')

harga_diskon = total - diskon 
if harga_diskon > 90000:
  print('Mahal')
else:
  print('Murah')
print('Karena harga yang harus dibayarkan = ', harga_diskon)

Masukkan jumlah barang = 5
Masukkan harga barang = 20000
Jumlah Total =  100000
Kamu dapat diskon 20%
Murah
Karena harga yang harus dibayarkan =  80000.0

# MINI PROJEK [B]

In [17]:
import pandas as pd 
import numpy as np
data = {"Bilangan":[1,-11,112],
        "Genap/Ganjil":["Ganjil","Ganjil","Genap"],
        "Pos/Neg/Nol":["Positif","Negatif","Positif"],
        "Satuan/Ratusan,Ribuan":["Satuan","Puluhan","Ratusan"]}
df = pd.DataFrame(data)
df

   Bilangan Genap/Ganjil Pos/Neg/Nol Satuan/Ratusan,Ribuan
0         1       Ganjil     Positif                Satuan
1       -11       Ganjil     Negatif               Puluhan
2       112        Genap     Positif               Ratusan